name: CI

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    name: ${{ matrix.platform.name }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.platform.os }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Windows, os: windows-latest }
          - { name: Linux,   os: ubuntu-latest }
          - { name: macOS,   os: macos-latest  }
        build_type:
          - debug
          - release

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install SFML 2.6.1
      uses: oprypin/install-sfml@v1
      with:
        sfml: '2.6.1' # <-- 'sfml-version'이 아니라 'sfml' 이었다.

    - name: Build
      run: ./build.sh ${{ matrix.build_type }}