name: CI

on:
  push:
    branches: ["master"]

  pull_request:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: ${{ matrix.platform.name }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.platform.os }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Windows, os: windows-latest }
          - { name: Linux, os: ubuntu-latest }
          - { name: macOS, os: macos-latest }
        build_type:
          - debug
          - release

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install SFML Dependencies (Linux/FreeType Fix)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libsfml-dev libxi-dev libfreetype6-dev cmake

      - name: Install SFML (macOS)
        if: runner.os == 'macOS'
        run: brew install sfml

      - name: Install SFML (Windows)
        if: runner.os == 'Windows'
        run: choco install sfml

      - name: Build
        run: ./build.sh ${{ matrix.build_type }}
